<?php if ($this->isEnabled()) : ?>
<!-- BEGIN: NSG_GUARANTEE -->
<span id="_GUARANTEE_GuaranteeSpan"></span>
<script type="text/javascript">
    if (window._GUARANTEE && _GUARANTEE.Loaded) {
        _GUARANTEE.Hash               = '<?php echo $this->getHash(); ?>';
        _GUARANTEE.Guarantee.order    = '<?php echo $this->getIncrementId(); ?>';
        _GUARANTEE.Guarantee.subtotal = '<?php echo round($this->getBaseSubtotal(), 2); ?>';
        _GUARANTEE.Guarantee.currency = '<?php echo $this->getOrderCurrencyCode() ?>';
        _GUARANTEE.Guarantee.email    = '<?php echo $this->getCustomerEmail() ?>';
        _GUARANTEE.WriteGuarantee("JavaScript", "_GUARANTEE_GuaranteeSpan");
    }
</script>
<!-- END: NSG_GUARANTEE -->
<?php endif; ?>
